.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 40px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.list {
  display: flex;
  align-items: center;
}

.listLink {
  display: block;
  padding: 10px 25px;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
}

.copy {
  margin-top: 40px;
  font-size: 16px;
}
