* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #dd6b20;
  --color-black: #000;
  --color-gray: #718096;
  --color-gray-light: #f7f7f7;
  --color-white: #fff;
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  background-color: var(--color-gray-light);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.p-entry {
  p {
    line-height: 2;
  }
}

.l-content {
  padding: 80px 60px;
  .l-content__body {
    margin-top: 40px;
  }
  .l-content__list {
    margin-top: 60px;
  }
  .l-content__link {
    display: flex;
    margin-top: 40px;
    &._right {
      justify-content: flex-end;
    }
  }
}

.l-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.c-heading01 {
  font-size: 40px;
  font-weight: bold;
}

.c-heading02 {
  font-size: 32px;
  font-weight: bold;
}

